<h2>My extractors</h2>
<p>
	This page lists the extractors that you have created. Click <em>View</em> in order to see the details of each of the extractors and the last extracted content.
</p>

<table>
	<tr>
		<th>Extractor Name</th>
		<th>Domain</th>
		<th colspan="2"> </th>
	</tr>
<% @extractors.each do |extractor| %>
	<tr>
		<td><%=h extractor.name%></td>
		<td><%=h extractor.domain %></td>
		<td class="action"><%= link_to 'View', extractor %></td>
		<td class="action"><%= link_to 'Delete', extractor, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
<% end %>
</table>

<br/>

