<p>
  <b>Domain:</b>
  <%=h @extractor.domain %>
</p>

<p>
  <b>User:</b>
  <%=h @extractor.user_id %>
</p>


<%= link_to 'Edit', edit_extractor_path(@extractor) %> |
<%= link_to 'Back', extractors_path %>