<p>
	<b>Label:</b>
	<%=h @annotation.label %>
</p>
<p>
	<b>XPath selector:</b>
	<%=h @annotation.xpath %>
</p>
<p>
	<b>Raw:</b>
	<pre><script>
		document.write(JSON.stringify(<%=@annotation.raw %>, null, '  '));
	</script></pre>
</p>

<%= link_to 'Back', @annotation.extractor %>
