<p>
  <b>Page:</b>
  <%=h @page_association.page_id %>
</p>

<p>
  <b>Extractor:</b>
  <%=h @page_association.extractor_id %>
</p>


<%= link_to 'Edit', edit_page_association_path(@page_association) %> |
<%= link_to 'Back', page_associations_path %>