
<a href="javascript:(function(){a=document.body.appendChild(document.createElement('script'));a.src='<%= url_for(:action => 'index', :controller => 'bookmarklet',:format => :js, :only_path => false) %>?s='+Math.floor(Math.random()*1000);a.type='text/javascript'})();">
Parcelize
</a>